<div class="main-container">
  <app-header [headTitle]="title"></app-header>

  <app-currency-input
    title="From"
    [currency]="fromCur" 
    [amount]="fromAmount" 
    [amountChange]='changeAmountFrom'
    [currencyChange]='changeCurFrom'
    [converting]='convertValue'
  >
  </app-currency-input>

  <app-currency-input
    title="To"
    [currency]="toCur"
    [amount]="toAmount"
    [amountChange]='changeAmountTo'
    [currencyChange]='changeCurTo'
    [converting]='convertValue'
  >
  </app-currency-input>

</div>

